.box{
    width:980px;
    height:400px;
    margin:auto;
}
.button_box1{
    border:2px solid black;
    float:left;
    width:100px;
    height:80px;
    padding:5px;
    margin-left:716px;       
}
.button_box2{
    border:2px solid black;
    float:left;
    width:100px;
    height:80px;
    padding:5px;      
}
.button_box3{
    border:2px solid black;
    float:left;
    width:100px;
    height:80px;
    padding:5px;      
}
.para{
    margin-left:588px;          
}
.one{
    border:2px solid black;
    width: 100px;
    height: 23px;
}
h1{
    text-align:center;
}
